Django==5.0.6
django-rest-framework==0.1.0
django-sslserver==0.22
djangorestframework==3.15.1
pillow==10.3.0
python-dotenv==1.0.1
boto3==1.35.9
django-widgets-improved==1.5.0
mysqlclient==2.1.0
django-allauth==65.1.0
django-channels==0.7.0
cloudinary==1.41.0
django-bootstrap5==24.2
django-bootstrap-icons==0.8.7
# diffusers==0.31.0
# transformers==4.46.0
# scipy==1.14.1
# ftfy==6.3.1
# torch==2.2.2
# accelerate==1.0.1